@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto&display=swap');

:root {
  --black-100: #393939;
  --grey-100: #F9F9F9;
  --grey-200: #E9E9E9;
  --grey-300: #D9DDE9;
  --grey-500: #B9B9B9;
  --aqua-900: #79EFFF;

  --primary-blue: #00C2FF;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: white;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}