@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --black-100: #393939;
  --grey-100: #F9F9F9;
  --grey-200: #E9E9E9;
  --grey-500: #B9B9B9;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: var(--black-100);
  color: var(--grey-200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}